<div class=" flex items-center bg-white h-12 absolute top-8 rounded-3xl shadow-2xl px-4">
    <a>Home</a>
    <a>schedule</a>
    {{!-- <div class="inline-flex items-center h-full">
        <span class="flex p-2 ml-3 cursor-pointer"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div> --}}
</div>