<div class="text-center text-white">
    <h1 class=" text-4xl font-bold uppercase tracking-[0.4em]">Time now: </h1>
    <div class="flex justify-between items-center mt-8" style="-webkit-box-reflect: below 10px linear-gradient(transparent, #0004);">
        <div class="w-[200px] min-h-[160px] flex flex-col bg-[#2196f3] justify-center items-center text-2xl shadow-lg mx-2">
            <span class="flex items-center justify-center text-5xl flex-1 w-full py-10 tracking-wider">00</span>
            <span class="border-t-[1px] border-sky-700 uppercase tracking-widest block w-full py-3 bg-sky-600">Hours</span>
        </div>
        <div class="w-[200px] min-h-[160px] flex flex-col bg-[#2196f3] justify-center items-center text-2xl shadow-lg mx-2">
            <span class="flex items-center justify-center text-5xl flex-1 w-full py-10 tracking-wider">00</span>
            <span class="border-t-[1px] border-sky-700 uppercase tracking-widest block w-full py-3 bg-sky-600">Minute</span>
        </div>
        <div class="w-[200px] min-h-[160px] flex flex-col bg-[#ff006a] justify-center items-center text-2xl shadow-lg mx-2">
            <span class="flex items-center justify-center text-5xl flex-1 w-full py-10 tracking-wider">00</span>
            <span class="border-t-[1px] border-rose-700 uppercase tracking-widest block w-full py-3 bg-[#ec0062]">Second</span>
        </div>
    </div>
</div>